<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ title }}</title>
<meta name="description" content="{{ description }}">
{%- if canonical %}
<link rel="canonical" href="https://designbycristina.com{{ canonical }}">
{%- endif %}
<link rel="stylesheet" href="style.css">
{% include "design-vars.njk" %}
{%- if headExtra %}
{{ headExtra | safe }}
{%- endif %}
</head>
<body>

{% include "site-header.njk" %}
{{ content | safe }}

{% include "site-footer.njk" %}
{% include "site-script.njk" -%}
</body>
</html>
